#
# Exclude files from exporting
#

.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore

# Markdown is just glorified HTML, so we specify this here, while also fixing our filetypes.
*.md        text diff=html
Makefile    text diff=makefile
makefile    text diff=makefile
.main       text diff=makefile
.runtime    text diff=makefile
.runtimes   text diff=makefile
.Main       text diff=makefile
.Runtime    text diff=makefile
.Runtimes   text diff=makefile
.MAIN       text diff=makefile
.RUNTIME    text diff=makefile
.RUMTIMES   text diff=makefile
